@use '/styles/main.scss' as *;

.y__link {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  gap: 0.5rem;

  @media (max-width: 768px) {
    svg {
      transform: scale(0.8);
      width: 1rem;
    }
    gap: 0.9rem;
  }

  &_wrap {
    display: inline-block;
  }
  &_txt {
    color: #000000;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-decoration: none;

    &--cream {
      color: $col-cream;
    }

    &--milch {
      color: $col-milch;
    }

    &--block {
      color: $col-milch;
    }

    &_mobilenav {
      font-family: var(--font-manrope), serif;
      font-size: toRem(22);
      color: #000000;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.3s ease-in;

      a {
        color: #000000;
        font-weight: 500;
      }
    }

    &_mobilenav::after {
      content: '';
      position: absolute;
      width: 0;
      height: toRem(1.5);
      bottom: 0.2rem;
      left: 0;
      background-color: #000000;
      transition: width 0.5s ease-in-out;
    }

    &_mobilenav:hover::after {
      width: 100%;
    }

    &_heading {
      text-align: center;
      line-height: 153%;
      color: $dark-brown;
      font-size: 1.5rem;
      font-family: var(--font-manrope);
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: -0.06rem;
      cursor: pointer;

      a {
        color: $dark-brown;
        font-weight: 500;
      }

      @include media('<=phone-tab') {
        text-align: center;
        font-size: 1.25rem;
      }

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: toRem(1.5);
        bottom: 0.4rem;
        left: 0;
        background-color: $dark-brown;
        transition: width 0.5s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .arrowSvg {
    fill: #000000;
    position: relative;
    top: 0.1rem;
    width: 1.2rem;

    &--heading {
      fill: $dark-brown;
    }
  }
}
