@use '/styles/main.scss' as *;

.c-button {
  display: flex;
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-radius: 99rem;
  background-color: transparent;
  transition: all 0.5s ease;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  cursor: pointer;

  text-align: left;
  line-height: 143%;
  // margin-bottom: max(10px, 1.5rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.02rem;
  font-size: max(14px, 0.9rem);

  &--milch {
    border: 1px solid $col-milch;
    color: $col-milch;
  }

  &--brown {
    border: 1px solid $dark-brown;
    color: black;
  }

  @include media('<=tablet') {
    padding: 0.3rem 1rem 0.3rem 2rem;
  }

  @include media('<=phone-tab') {
    font-size: 0.8rem;
    padding: 0.01rem 0.3rem 0.01rem 0.9rem;
  }

  &__icon {
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &--milch {
      span {
        background: $col-milch;
      }
    }

    &--brown {
      span {
        background: $dark-brown;
      }
    }

    span {
      border-radius: 100%;
      padding: 0rem;

      width: 0rem;
      height: 0rem;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      transform: rotate(-180deg);

      transition: all 0.5s ease;
    }
  }
}

.c-button:hover .c-button__icon span {
  transform: rotate(0deg);

  border-radius: 100%;
  padding: 0.6rem;
  width: 1.9rem;
  height: 1.9rem;
}
