@use '/styles/main.scss' as *;

.contact {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  @include media('<=desktop') {
    // padding-top: 10rem;
    min-height: 70vh;
  }

  @include media('<=tablet') {
    // padding-top: 5rem;
    min-height: 100vh;
  }

  @include media('<=phone-tab') {
    // padding-top: 9rem;
    min-height: 100vh;
  }

  //   @include media('<=tablet') {
  //     min-height: 29rem;
  //   }
  //   @include media('<=phone-tab') {
  //     min-height: 20rem;
  //   }

  &__box {
    width: 40rem;
    height: fit-content;
    margin: 0 auto;

    @include media('<=desktop') {
      width: 50rem;
    }

    @include media('<=tablet') {
      width: 30rem;
    }

    @include media('<=phone-tab') {
      width: 20rem;
    }

    &__top {
      height: 8rem;
      border: max(8px, 1rem) solid $col-milch;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media('<=phone-tab') {
        height: 5rem;
      }

      p {
        font-family: var(--font-manrope);
        font-size: 4rem;
        text-align: center;
        font-weight: 400;
        // line-height: 1.2;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: $col-milch;

        @include media('<=desktop') {
          font-size: 5rem;
        }

        @include media('<=tablet') {
          font-size: 3rem;
        }

        @include media('<=phone-tab') {
          font-size: 2rem;
        }
      }
    }

    &__bottom {
      background-color: $col-milch;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      p {
        text-align: justify;
        line-height: 153%;
        color: $dark-brown;
        font-size: 0.8rem;
        width: toRem(400);

        @include media('<=desktop') {
          font-size: 1.2rem;
          width: 600;
        }

        @include media('<=tablet') {
          font-size: 0.8rem;
          width: toRem(300);
          text-align: justify;
          margin: 0;
        }

        @include media('<=phone-tab') {
          width: toRem(200);
        }
      }

      &__button {
        margin-top: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
}
