@use '/styles/main.scss' as *;

header {
  @include flex(space-between, center, 0);
  padding: 1.5rem 0;
  margin: 0 auto;
  position: relative;
  z-index: 5;

  @include media('<=phone-tab') {
    padding: 1rem 0;
  }

  .y__logo {
    color: $col-cream;
    font-family: var(--font-playfair), serif;
    font-weight: 600;
    cursor: pointer;

    font-size: toRem(22);
    text-transform: uppercase;
  }
  ul {
    @include flex(center, center, 1.5rem);
    li {
      list-style: none;
      color: $col-milch;
      text-transform: uppercase;
      font-size: toRem(17);
      @include link;
      a {
        text-decoration: none;
        color: $col-milch;
      }
    }
    @include media('<=tablet') {
      display: none;
    }
  }
}
.menu_btn {
  display: none;
  cursor: pointer;
  @include media('<=tablet') {
    display: block;
    img {
      width: 5rem;
    }
  }
}
.menu_drop {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #040000;
  width: 100%;
  z-index: 13;
  @include media('>=tablet') {
    display: none;
  }
  &_wrap {
    @include flex_col(3rem);
    &_head {
      padding: 1.5rem 0;
      @include flex(space-between, center, 0);
      span {
        text-transform: uppercase;
        font-family: 'Playfair Display';
        font-size: toRem(24);
        font-weight: 700;
        color: $linkout;
        letter-spacing: 0.4px;
        cursor: pointer;
      }

      .y__logo {
        color: #a37642;
        font-family: var(--font-playfair), serif;
        font-weight: 600;
        cursor: pointer;

        font-size: toRem(22);
        text-transform: uppercase;
      }
    }
    nav {
      @include flex_col(2rem);
      align-items: flex-start;
      a {
        color: $col-milch;
        text-decoration: none;
        font-family: var(--font-manrope);
        font-weight: 500;
        text-transform: uppercase;
        font-size: toRem(25);
        @include link;
      }
    }
    footer {
      @include flex_col(2.5rem);
    }
    &-links {
      @include flex_col(2rem);
      &_socials {
        @include flex(center, center, 1rem);
        align-self: flex-start;
      }
    }
    &-in {
      align-self: flex-start;
      @include flex(flex-start, flex-start, 1rem);
      flex-wrap: wrap;
      align-content: flex-start;
      a {
        color: $col-milch;
        text-transform: uppercase;
        font-size: toRem(15);
      }
    }
  }
}
