@use '/styles/main.scss' as *;

.main {
  position: relative;
  z-index: 2;
  left: -0.4rem;
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;

  @include media('<=phone-tab') {
    //   margin-top: max(5rem, 50px);
    left: -0.1rem;
  }

  &__heading {
    font-size: 28vw;
    white-space: nowrap;
    line-height: 1;
    letter-spacing: -0.6rem;
    text-transform: uppercase;
    display: block;
    font-weight: 900;
    color: $col-cream;
    font-family: var(--font-playfair);

    @include media('<=tablet') {
      margin-right: 0rem;
    }
    @include media('<=phone-tab') {
      line-height: 1;
      letter-spacing: -0.1rem;
    }
  }

  &__about {
    margin-left: max(40px, 8rem);
    // margin-bottom: max(40px, 10rem);
    // width: max(250px, 28.7rem);

    @include media('<=tablet') {
      //   margin-top: max(40px, 8rem);
      margin-left: 0;
    }

    &__text {
      text-align: left;
      color: $col-milch;
      line-height: 143%;
      margin-bottom: max(10px, 1.5rem);
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: -0.02rem;
      //   font-size: 0.9rem;

      font-size: max(14px, 0.9rem);

      @include media('<=tablet') {
        text-align: center;
        margin-top: 2rem;
      }

      @include media('<=phone-tab') {
        text-align: center;
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }
    }

    &__box {
      width: fit-content;
      text-transform: uppercase;
      text-align: right;
      line-height: 1.2;
      margin: 0 auto;
      transform: translateX(-100px);

      @include media('<=tablet') {
        transform: translateX(0px);
      }

      h1 {
        font-size: 3.6rem;
        letter-spacing: -0.05em;
        font-family: var(--font-manrope);
        color: $col-milch;
        font-weight: 400;
        margin-top: 4rem;

        @include media('<=tablet') {
          font-size: 2.3rem;
          margin-top: 2rem;
        }
      }
    }
  }
}
