@use '/styles/main.scss' as *;

.homeAbout {
  min-height: 40rem;
  background-color: #ffffff;
  z-index: 5;
  position: relative;
  padding: 6rem;
  padding-top: 4rem;

  @include media('<=tablet') {
    min-height: 47vh;
    padding: 3rem;
  }

  @include media('<=phone-tab') {
    min-height: 30vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: max-content;

    @include media('<=tablet') {
      flex-direction: column;
    }

    &__images {
      width: 40%;

      position: relative;

      @include media('<=tablet') {
        display: none;
      }
    }

    &__image {
      position: absolute;
      img {
        object-fit: cover;
      }
      &:nth-of-type(1) {
        height: toRem(390);
        width: toRem(330);
        z-index: 1;
      }
      &:nth-of-type(2) {
        left: 14rem;
        top: 19rem;
        height: toRem(250);
        width: toRem(220);
        z-index: 2;

        @include media('<=desktop') {
          left: 14rem;
          top: 17rem;
        }
      }
    }

    &__text {
      width: 60%;

      h2 {
        font-family: var(--font-manrope);

        font-size: 2.4rem;
        text-align: justify;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: $dark-brown;
        margin-bottom: 1rem;

        @include media('<=tablet') {
          font-size: 2rem;
        }

        @include media('<=phone-tab') {
          font-size: 1.5rem;
        }
      }

      &__paragraph {
        width: 21.5rem;
        margin-bottom: max(1rem, 10px);

        p {
          text-align: justify;
          line-height: 153%;
          color: $dark-brown;

          font-size: 1rem;

          @include media('<=phone-tab') {
            font-size: 0.8rem;
            width: 80%;
          }
        }
      }

      @include media('<=tablet') {
        width: 100%;
      }

      @include media('<=phone-tab') {
        width: 100%;
      }
    }
  }
}
