@use '/styles/main.scss' as *;

.menu-parent {
  position: relative;
}

.menu-container {
  position: relative;
  z-index: 20;
}

.menu-bar {
  position: relative;
  width: 100vw;
  padding: 2em;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;

  a {
    color: $col-milch;
  }

  @include media('<=phone-tab') {
    padding: 1em;
  }
}

.menu-overlay-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.menu-bar a,
.menu-open p {
  color: $col-milch;
  cursor: pointer;
  font-weight: 500;
}

.menu-bar--brown a,
.menu-open--brown p {
  color: $dark-brown;
  cursor: pointer;
  font-weight: 500;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background-color: $secondary;
  z-index: 20;
  display: flex;
  text-align: left;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

  .menu-overlay-bar {
    .menu-logo a {
      color: #000;
      cursor: pointer;
      font-weight: 500;
    }

    .menu-close p {
      color: #000;
      cursor: pointer;
      font-weight: 500;
    }
  }
}

.menu-close-icon {
  flex: 2;
  display: flex;
  align-items: flex-end;
  cursor: pointer;

  .menu-close-icon-box-item {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  p {
    font-size: toRem(100);
    -webkit-text-stroke: toRem(3) $secondary;
    line-height: 80%;
    color: #000;
  }
}

.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .menu-preview-box-item {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  p {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.menu-link-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  width: max-content;
}

.menu-link-item-holder {
  position: relative;

  a {
    color: #000;
    font-size: toRem(70);
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 85%;
    text-transform: uppercase;
  }

  position: relative;
}

.menu-info {
  display: flex;

  .menu-info-col-item {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .menu-info-col-holder {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .menu-info-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }

  .menu-copy {
    padding-top: 8em;
  }

  .menu-link-item-holder a {
    font-size: toRem(60);
  }
}

@media (max-width: 500px) {
  .menu-link-item-holder a {
    font-size: toRem(50);
  }

  .menu-link-item-holder--active a {
    text-decoration-thickness: toRem(3);
  }
}
