@use '/styles/main.scss' as *;

.sReelP {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 45rem;
  width: 100vw;
  gap: toRem(30);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;

  @include media('<=tablet') {
    min-height: 38rem;
    gap: toRem(16);
    padding-right: 1rem;
  }

  @include media('<=phone-tab') {
    flex-direction: column;
    gap: toRem(10);
  }

  &__imageContainer {
    position: relative;
    overflow: hidden;
    background-color: $col-cream;
    width: 60vw;
    height: 75rem;

    @include media('<=tablet') {
      height: 40rem;
      width: 65vw;
    }

    @include media('<=phone-tab') {
      height: 30rem;
      width: 100%;
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      //   top: 0;
      //   right: 0;
      width: 100%;
      height: toRem(1450);
      object-fit: cover;
      aspect-ratio: 0.8263525305;

      @include media('<=tablet') {
        height: 170%;
      }

      @include media('<=phone-tab') {
        position: relative;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__textContainer {
    // width: 40vw;
    justify-self: flex-end;
    width: 21.5rem;
    // margin-bottom: max(1rem, 10px);
    background-color: #ffffff;
    height: 55.3rem;
    z-index: 1;

    @include media('<=tablet') {
      width: 14rem;
      height: 16.1rem;
    }

    @include media('<=phone-tab') {
      width: 70%;
      height: fit-content;
    }

    &__text {
      line-height: 153%;
      color: $dark-brown;
      font-size: 1rem;

      @include media('<=phone-tab') {
        font-size: 0.8rem;
      }
    }

    &__button {
      margin-top: 2.5rem;
      @include media('<=phone-tab') {
        margin-top: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
}
