@use '/styles/main.scss' as *;

.sReelP {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  min-height: 300vh;
  width: 100vw;
  gap: toRem(30);

  &__imageContainer {
    position: relative;
    overflow: hidden;
    background-color: $col-cream;
    width: 60vw;
    height: 150vh;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      //   top: 0;
      //   right: 0;
      width: 100%;
      height: 170%;
      object-fit: contain;
      aspect-ratio: 0.8263525305;
    }
  }

  &__textContainer {
    // width: 40vw;
    justify-self: flex-end;

    width: 21.5rem;
    margin-bottom: max(1rem, 10px);
    background-color: #ffffff;

    &__text {
      text-align: justify;
      line-height: 153%;
      color: $dark-brown;

      font-size: 1rem;
      //   padding-top: 0.1rem;
    }

    &__button {
      margin-top: 2.5rem;
    }
  }
}
