@use '/styles/main.scss' as *;

.specPage {
  background-color: #f5f5f5;
  min-height: 45rem;
  padding: 4rem;

  @include media('<=tablet') {
    padding: 3rem;
  }

  @include media('<=phone-tab') {
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: fit-content;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: var(--font-manrope);
      font-size: 2.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $dark-brown;
      margin-bottom: 1rem;

      @include media('<=tablet') {
        font-size: 2rem;
      }

      @include media('<=phone-tab') {
        font-size: 1.5rem;
        text-align: justify;
      }
    }

    &__paragraph {
      text-align: center;
      line-height: 153%;
      color: $dark-brown;
      font-size: 1rem;
      width: toRem(602);
      margin: 0 auto;

      @include media('<=phone-tab') {
        font-size: 0.8rem;
        width: 100%;
        text-align: justify;
        // text-align: left;
        margin: 0;
      }
    }

    &__imageBox {
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 70%;
      height: 31rem;
      position: relative;
      overflow: hidden;

      @include media('<=tablet') {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      @include media('<=phone-tab') {
        height: 25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      img {
        height: 100%;
        width: 100%;
        scale: 1.6;
        position: absolute;
        object-fit: cover;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
    }
  }
}
