@use '/styles/main.scss' as *;

.collectionPage {
  background-color: #ffffff;
  height: max-content;

  .shopInfo {
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 4rem 1rem;
      padding-bottom: 2rem;

      @include media('<=tablet') {
        padding: 3rem 1rem;
      }

      @include media('<=phone-tab') {
        padding: 1rem;
        padding-top: 3rem;
      }

      h2 {
        font-family: var(--font-manrope);
        font-size: 2.4rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: $dark-brown;
        margin-bottom: 1rem;

        @include media('<=tablet') {
          font-size: 2rem;
        }

        @include media('<=phone-tab') {
          font-size: 1.5rem;
          margin-bottom: 0;
        }
      }

      &__right {
        @include media('<=phone-tab') {
          display: none;
        }
      }
    }

    &__product {
      height: toRem(400);
      width: 25vw;
      background-color: #f5f5f5;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: grab;

      @include media('<=tablet') {
        width: 50vw;
      }
      @include media('<=phone-tab') {
        width: 50vw;
        height: toRem(300);
      }

      img {
        height: toRem(199);
        width: auto;

        @include media('<=phone-tab') {
          height: toRem(149);
        }
      }

      &__details {
        position: absolute;
        bottom: 2%;
        left: 2%;
        width: 100%;

        @include media('<=phone-tab') {
          bottom: 2%;
          left: 4%;
        }

        &__name {
          text-align: left;
          line-height: 153%;
          color: $dark-brown;
          font-size: 0.8rem;
          width: toRem(602);
          margin: 0 auto;
          text-transform: uppercase;

          @include media('<=phone-tab') {
            font-size: 0.8rem;
          }
        }

        &__price {
          text-align: left;
          line-height: 153%;
          color: $dark-brown;
          font-size: 1.5rem;
          width: toRem(602);
          margin: 0 auto;

          @include media('<=phone-tab') {
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: toRem(50);
    padding-bottom: 4rem;

    @include media('<=phone-tab') {
      margin-top: toRem(25);
      padding-bottom: 3rem;
    }
  }
}
